.page {
    padding: 100px 100px 100px 100px;
    }
.logo {
    padding: 10px 40px;
    border: 2px solid black;
    display: inline-block;
    margin: 20px;
    }
.container {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 10%;
  background-color: #f2f2f2;
}
.container nav a {
  color: gray;
  font-size: .6em;
  margin-bottom: 30px;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    color: firebrick;
    text-decoration: none;
}
      }
.dinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    &__item {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      width: 300px;
      height: 300px;
      margin: 3px; 
    }
}