.page {
    padding: 100px 100px 100px 100px;
    } 
.logo {
    padding: 10px 40px;
    border: 2px solid black;
    display: inline-block;
    }
    .dinks_img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .dinks_img {
      display: flex;
      flex-wrap: wrap;
    }
      .dinks__item {
        box-sizing: border-box;
        display: flex;
        align-items: center;
      }
