$icon: 20px;

.media {
    justify-content: space-between;
  }

  .socialmedia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .socialmedia__icon {
    height: $icon;
    width: $icon;
}